Repository sqlitebrowser/sqlitebrowser, pull requests merged in 2018-06, with the labels that each got.

#1400 Add support to create MSI installer for Windows build
  installer/windows/background.bmp
  installer/windows/banner.bmp
  installer/windows/build.cmd
  installer/windows/license.rtf
  installer/windows/product.wxs
  installer/windows/resources/background.xcf
  installer/windows/resources/banner.xcf
  installer/windows/resources/icon.png
  installer/windows/variables.wxi
Labels: enhancement, packaging, windows

#1403 Update Windows Installer to include SQLCipher
  installer/windows/build.cmd
  installer/windows/product.wxs
  installer/windows/variables.wxi
Labels: windows-installer

#1410 Update the welcome dialog text for Windows Installer
  installer/windows/build.cmd
  installer/windows/strings.wxl
Labels: windows-installer

#1411 Add Desktop shortcut to Windows Installer
  installer/windows/product.wxs
Labels: windows-installer

#1414 Make the application shortcuts configurable on Windows
  installer/windows/build.cmd
  installer/windows/product.wxs
Labels: windows-installer

#1417 Add Slack invite link in the README file
  README.md
Labels: enhancement

#1405 Make sure only powers of two are entered for the page size
  src/CipherDialog.cpp
  src/CipherDialog.ui
Labels: enhancement

#1436 Preference for quoting identifier mechanism
  src/MainWindow.cpp
  src/PreferencesDialog.cpp
  src/PreferencesDialog.ui
  src/Settings.cpp
  src/sqlitetypes.cpp
  src/sqlitetypes.h
  src/sqltextedit.cpp
  src/tests/testsqlobjects.cpp
  src/tests/testsqlobjects.h
Labels: SQL, enhancement
