Repository sqlitebrowser/sqlitebrowser, pull requests merged in 2020-09, with the labels that each got.

#2390 Add the ability to support custom config files
  src/Application.cpp
  src/Settings.cpp
  src/Settings.h
Labels: enhancement

#2407 Update the Japanese file to v3.12.1
  src/translations/sqlb_ja.ts
Labels: translation

#2394 Allow users to export or import user-settings file in a GUI environment
  src/Application.cpp
  src/FileDialog.h
  src/PreferencesDialog.cpp
  src/PreferencesDialog.h
  src/Settings.cpp
  src/Settings.h
Labels: enhancement, help wanted

#2406 Update Arabic translation
  src/translations/sqlb_ar_SA.ts
Labels: translation
